<%- include('./partials/navbar'); %>

  <div class="card col-12 col-md-11 mx-auto">
    <div class="card-header bg-transparent">
      <h4 class="text-uppercase text-center ls-1 py-1 mb-0">Prestations</h4>
    </div>
    <div class="card-body" style="padding-left:0;padding-right:0;">
      <!-- <form class="d-none d-md-block my-2" action="/app/prestationsSearch" method="POST">
        <div class="d-flex align-items-center justify-content-around col-12 mb-3 mx-auto">
          <div class="input-group col-5">
            <button class="btn btn-primary" type="button" onclick="window.location.href='/app/addPrestation'">Ajouter une Prestation
              <i class="fas fa-plus-circle mr-1"></i>
            </button>
          </div>
          <div class="input-group col-7">
            <input type="text" value="<%= search != 'any' ? search : '' %>" name="prestationsSearch" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="Recherche">
            <div class="input-group-append">
              <button class="btn btn-outline-primary d-inline-block" type="button" onclick="return document.location.reload();">
                <i class="far fa-times-circle fa-lg align-middle"></i>
              </button>
              <button class="btn btn-outline-primary" type="submit" id="Rechercher">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <form class="d-block d-md-none" action="/app/prestationsSearch" method="POST">
        <div class="row mb-4">
          <button class="btn btn-primary mx-auto" type="button" onclick="window.location.href='/app/addPrestation'">Ajouter une Prestation
            <i class="fas fa-plus-circle mr-1"></i>
          </button>
        </div>
        <div class="row mb-3">
          <div class="input-group col">
            <input type="text" value="<%= search != 'any' ? search : '' %>" name="prestationsSearch" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="Recherche">
            <div class="input-group-append">
              <button class="btn btn-outline-primary d-inline-block" type="button" onclick="return document.location.reload();">
                <i class="far fa-times-circle fa-lg align-middle"></i>
              </button>
              <button class="btn btn-outline-primary" type="submit" id="Recherche">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form> -->

      <div class="table-responsive" style="min-height: 50vh;">
        <div>
          <table class="table align-items-center table-flush" id="datatable-basic">
            <thead class="thead-light">
              <tr>
                <th scope="col">Désignation</th>
                <th class="d-none d-md-table-cell" scope="col">P. HT</th>
                <th class="d-none d-md-table-cell" scope="col">TVA</th>
                <th class="d-none d-md-table-cell" scope="col">Montant TVA</th>
                <th class="d-none d-md-table-cell" scope="col">P. TTC</th>
                <th scope="col" class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody class="list">
              <% prestations.forEach(function(prestation) { %>
                <tr id="<%= prestation._id %>">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="designation mb-0 text-sm"><%= prestation.name %></span>
                      </div>
                    </div>
                  </th>
                  <td class="d-none d-md-table-cell">
                    <%= prestation.priceHT %>€
                  </td>
                  <td class="d-none d-md-table-cell">
                    <%= prestation.tva %>%
                  </td>
                  <td class="d-none d-md-table-cell">
                    <%= prestation.tvaAmount %>€
                  </td>
                  <td class="d-none d-md-table-cell">
                    <%= prestation.priceTTC %>€
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <!-- <a class="dropdown-item" href="/app/prestation/<%= prestation.id %>">Afficher la Prestation</a> -->
                        <a class="dropdown-item text-red deleteBtn" id="/app/deletePrestation/<%= prestation.id %>" href="/app/deletePrestation/<%= prestation.id %>">Supprimer la Prestation</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/messages'); %>

    <script src="/js/prestations.js" charset="utf-8"></script>
